/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #FFF1F7;
  --header-footer-decorate-zone-color: #353430;
  --header-bulb-display: none;
  --header-menu-color: #353430;
  --header-menu-button-hover: rgba(53, 52, 48, 0.4);
  --header-menu-button-focus: #353430;
  --header-title-color: #FFC2E6;
  --header-title-shadow: #FF8DCB;
  --title-decor-color: #353430;
  --title-decor-bg: #FF8DCB;
  --section-heading-color: #353430;
  --section-text-color: #353430;
  --link-effects-color: #FF8DCB;
}


@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url(../images/cover-image-light.png);
    --page-bg-color: #FFF1F7;
    --header-footer-decorate-zone-color: #353430;
    --header-bulb-display: none;
    --header-menu-color: #353430;
    --header-menu-button-hover: rgba(53, 52, 48, 0.4);
    --header-menu-button-focus: #353430;
    --header-title-color: #FFC2E6;
    --header-title-shadow: #FF8DCB;
    --title-decor-color: #353430;
    --title-decor-bg: #FF8DCB;
    --section-heading-color: #353430;
    --section-text-color: #353430;
     --link-effects-color: #FF8DCB;
  }
} 




  /*--bg-color: #FFF1F7;
  --page-bg-image: "";
  --header-bg-image: url(../images/cover-image-light.png);
  --page-bg-image: url(../images/cover-image-light.png);
  --accent-color:#FFC2E6;
  --decorate-color: #FF8DCB;
  --section-title-color: #353430;
  --text-color: #353430;
  --corner-decorate-color: #353430;
  --article-title-color:#353430;
}

@media (prefers-color-scheme: light) {
  :root {
  /*--page-bg-image: "";
  --header-bg-image: url(../images/cover-image-light.png);
  --page-bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color:#FFC2E6;
  --decorate-color: #FF8DCB;
  --section-title-color: #353430;
  --text-color: #353430;
  --corner-decorate-color: #353430;
  --article-title-color:#353430;
  }
  
  .header__decoration-item {
    display: none;
}

  .header__decoration-item::after {
  content: none;
}
}
*/