/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы
   для разных цветовых тем. */
  /*width: 375px; */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding-left: 10px;
  padding-right: 10px; 
  font-family: "IBM Plex Mono";
}

.header {
  height: 100vh;
  min-block-size: var(--header-min-height);
  background-image: url(../images/cover-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__text {
  color: rgba(219, 0, 255, 1);
  font-size: 116px;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 rgba(255, 0, 112, 1);
}

.title-decor {
  background-color: rgba(255, 0, 112, 1);
}

.header__title {
  color: rgba(0, 0, 40, 1);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
}