/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg-image: url("../images/cover-image-dark.png"); /*фоновая картинка для страницы*/
  --page-bg-color: rgba(0, 0, 40, 1);                   /*цвет фона*/
  --header-min-height: 668px;                             /*размер header по макету*/
  --decorate-color: rgba(255, 0, 112, 1);          /**/
  --section-text-color: rgba(241, 178, 206, 1);

  --corner-border: 1px solid rgba(255, 0, 112, 1);  /*границы уголков*/
  
}